In [77]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [78]:
df = pd.read_csv("heart.csv")
df.head(4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0

# Describing The Data

In [79]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [81]:
df.shape

(1025, 14)

In [82]:
df["target"].value_counts()

1    526
0    499
Name: target, dtype: int64

#IN THE TARGET COLUMN: 1 means The Person has a defective Heart while 0 means he/she has a Healthy Heart

# Splitting the Data into X and Y respectively in ratio of 3 : 1

In [83]:
X = df.drop (columns="target", axis=1)
Y = df["target"]

In [84]:
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [85]:
X_train, X_test, Y_train, Y_test = train_test_split (X, Y, test_size=0.2, stratify=Y, random_state=2)

In [86]:
print (X.shape, X_train.shape, X_test.shape)

(1025, 13) (820, 13) (205, 13)

In [87]:
print (Y.shape, Y_train.shape, Y_test.shape)

(1025,) (820,) (205,)

In [88]:
#IN THE ABOVE CODE: IT SHOWS 80% OF THE DATA is for Training Y based on columns in X
# AND remaining 20% is for testing the model based on X and Y

# Training the Model using Logistic Regression

In [89]:
LogisticRegression(solver='lbfgs', max_iter=10000)

LogisticRegression(max_iter=10000)

In [90]:
model = LogisticRegression()

# Training the LogisticRegression model with the Training data
model.fit (X_train.values, Y_train)

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# Evaluating The Model By Predicting Values (0 or 1)

In [91]:
# Predicting the output with test data
y_predict = model.predict (X_test.values)
print (y_predict)

[0 1 1 0 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 0 0 0 1 1 1 1 0 1 1 1 1
 0 1 0 0 0 1 0 1 0 1 0 0 1 0 0 1 0 1 0 0 0 1 1 0 0 0 0 1 1 1 1 0 0 1 1 0 0
 1 1 1 1 0 0 1 1 0 1 0 0 0 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 0 0 0 0 1 1 1 0 0
 1 0 0 0 0 0 1 1 1 0 1 0 0 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 0 1 1 0 1 0 1 1
 0 0 0 1 0 1 1 1 0 0 0 1 1 1 1 1 1 0 1 1 1 0 0 1 1 0 1 0 0 1 0 1 0 1 1 0 1
 1 1 0 0 0 1 1 1 1 1 1 1 1 0 1 0 0 1 0 1]

In [92]:
#Printing the accuracy percentge of the model 
accuracy_result = round(100 * accuracy_score(Y_test,y_predict), 4)
print(accuracy_result)

80.4878

In [93]:
if (y_predict[0]== 1):  
    print ("The Person does not have a Heart Disease")
else:  
    print ("The Person has Heart Disease")

The Person has Heart Disease

# Making 2nd party Predictions based on this algorithm

In [94]:
input_data = (62, 0, 0, 140, 268, 0, 0, 160, 0, 3.6, 0, 2, 2)

numpy_data= np.asarray (input_data)
# reshape the numpy array as we are predicting for only one instance
input_reshaped = numpy_data.reshape (1,-1)
prediction = model.predict (input_reshaped)

if (prediction[0]== 0):  
    print ("The Person does not have a Heart Disease")
else:  
    print ("The Person has Heart Disease")

The Person does not have a Heart Disease

# Saving This Model in Same File Directory as This IPYNB File

In [95]:
import pickle
filename = "trained_model.sav"
#dump=save your trained model
pickle.dump (model,open (filename,"wb"))

#loading the saved model
loaded_model = pickle.load (open ("trained_model.sav","rb"))

# Deploying this model in a webpage using Streamlit and I'll provide a link to the Model webpage

In [96]:
#I'm a genius man...Hire me üòÇüòÇü§¶‚Äç

In [97]:
df['thal'].unique()

array([3, 2, 1, 0], dtype=int64)